input {
	font-size: 14px !important;
	font-family: "Open Sans";
}

select:focus, button:focus, input:focus {
	box-shadow: 0px 0px 6px rgb(0, 135, 255, 0.78) !important;
	border: 1px solid #0d7a40 !important;
	box-sizing: border-box;
}

a:focus {
	font-weight: bold;
	box-sizing: border-box;
}

input[type=date] {
	border: 1px solid #d0d0d0;
	height: 36px;
	padding: 5px;
	border-radius: 5px;
	width: 100%;
	font-family: "Open Sans";
}

input[type=time] {
	border: 1px solid #d0d0d0;
	height: 36px;
	padding: 5px;
	border-radius: 5px;
	width: 100%;
	font-family: "Open Sans";
}

#progress-bar {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1051;
	background-color: rgb(0, 0, 0, 0.1);
	display: none;
}

.progress-bar-center {
	position: fixed;
	border: 1px solid rgb(200, 200, 200);
	border-radius: 5px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
	left: 45%;
	top: 50%;
	background: white;
	width: 280px;
	height: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	font-size: 24px;
	padding: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.progress-bar-center span {
	margin-bottom: 10px;
}

.alert-message-container {
	padding: 5px;
	margin: 0px 10px;
	background: #ffeeee;
	border-radius: 5px;
	margin-bottom: 10px;
	color: #f20505;
	font-size: 14px;
	display: none;
}

.form-control {
	background-color: white !important;
	margin-bottom: 5px;
}

.no-wrap {
	white-space: nowrap;
}

.mt {
	margin-top: 10px;
}

.ml {
	margin-left: 10px;
}

.mr {
	margin-right: 10px;
}

.mr-sm {
	margin-right: 5px;
}

.mb {
	margin-bottom: 10px;
}

.pt {
	padding-top: 10px;
}

.pt-sm {
	padding-top: 5px;
}

.pl {
	padding-left: 10px;
}

.pr {
	padding-right: 10px;
}

.pb {
	padding-bottom: 10px
}

.pb-sm {
	padding-bottom: 5px
}

.pr-sm {
	padding-right: 5px;
}

.pl-sm {
	padding-left: 5px;
}

.flex, .flex-column {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.flex-grow {
	flex-grow: 1;
}

.flex-halign-space-between {
	justify-content: space-between;
}

.flex-halign-end {
	justify-content: flex-end;
}

.flex-halign-center {
	justify-content: center;
}

.flex-valign-start {
	align-items: flex-start;
}

.flex-valign-end {
	align-items: flex-end;
}

.flex-valign-center {
	align-items: center;
}

.flex-wrap {
	flex-wrap: wrap;
}

.input-currency-symbol {
	min-width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #e8e8e8;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	font-size: 22px;
	color: gray;
}

.user-container-sm, .user-container {
	color: #0868f6;
	border-radius: 50%;
	background-color: #ecf1ff;
}

.user-container {
	font-size: 60px;
	padding: 20px;
	width: 100px;
	height: 100px;
}

.user-container-sm {
	font-size: 18px;
	width: 32px;
	height: 32px;
}

.hide {
	display: none;
}

.error-message-container {
	font-size: 14px;
	padding: 5px;
	color: red;
	border: 1px solid #ffa9a9;
	background: #fff5f0;
	border-radius: 5px;
}

.logo-text {
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: black;
}

.home-trainer-list-a {
	font-size: 16px !important;
	width: 32px;
	height: 32px;
	color: #6f747a;
	padding: 2px;
	cursor: pointer;
}

.attendee-count-parent {
	align-items: center;
	border-radius: 50%;
	justify-content: center;
	padding: 3px 5px;
	height: 36px;
	width: 36px;
	position: relative;
	margin-right: 20px;
	color: #5d6c7e;
}

.user-name, .trainer-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 15px;
	text-align: left;
}

.user-name {
	width: 100%;
}

.trainer-name {
	width: calc(100% - 95px);
	margin: 0 10px 0 10px;
	font-weight: 600;
}

.attendee-count {
	position: absolute;
	font-size: 12px;
	top: 0px;
	background: #0659f0;
	color: white;
	padding: 3px;
	border-radius: 8px;
	font-family: 'Open Sans';
}

.trainee-selected {
	margin-left: 5px;
	height: 32px;
	width: 32px;
	font-size: 28px;
	color: #26b626;
}

.trainer-details-card-inner-container {
	width: 100%;
	padding: 10px 0px 10px 0px;
	box-sizing: border-box;
	background: rgb(255, 249, 249);
	border-radius: 10px;
}

.trainer-schedules .trainer-details-card-inner-container {
	background: #f3f8ff;
}

.trainer-details-card-inner-container.demo-class {
	background: #fffaf0;
}

.bh-img {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	margin-top: 20px;
	height: 256px;
	width: 256px;
	border-radius: 50%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0
		rgb(0, 0, 0, 0.12);
	border: 5px solid white;
}

.no-results {
	text-align: center;
	width: 100%;
	display: block;
	padding: 10px;
	color: red;
}

.filter-container {
	margin: 20px 10px 30px 10px;
	background: #f5faff;
	border: 1px solid rgb(225, 225, 225);
	border-radius: 10px;
	color: black;
}

.user-logged-in-button {
	font-size: 18px;
	color: #075dfc;
	background: #e0f1ff;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	border: none;
}

.logged-in-user-popover-options span {
	padding: 10px 10px;
	color: #0d0268;
	font-weight: bold;
}

.divider {
	display: block;
	max-height: 1px;
	min-height: 1px;
	width: 100%;
	border-top: 2px solid rgb(190, 190, 190);
	border-bottom: 1px solid #f5f9fc;
	padding: 0px !important;
	margin: 10px 0px;
}

.anchor-button {
	background: #4374ff;
	border-radius: 5px;
	color: white !important;
	font-size: 16px;
	text-align: center;
	padding: 7px 10px;
}

.anchor-button-cancel {
	background: #ff4646;
}

.anchor-button:hover {
	background: #1c44d8;
}

.icon-color {
	color: blue;
	font-size: 18px !important;
}

.icon-color-gray {
	color: #0d0268;
}

.popover, .sm-screen-options-container {
	position: absolute;
	width: 200px;
	backdrop-filter: blur(9px);
	-webkit-backdrop-filter: blur(9px);
	box-shadow: 0px 20px 30px rgb(77, 94, 138, 0.2);
	background-color: #ebf2ff7a;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.sm-screen-options-container .small-screen {
	border-left: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
	font-size: 16px;
	font-weight: bold;
}

.logged-in-user-popover-options a {
	color: black;
	font-weight: bold;
}

.logged-in-user-popover-options a:hover {
	color: blue;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	display: flex;
	align-items: center;
}

.slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:after {
	content: "NO";
	color: #565656;
	font-weight: bold;
	padding-left: 21px;
	letter-spacing: 1px;
	font-size: 12px;
	width: 100%;
	text-align: center;
}

input:focus+.slider {
	box-shadow: 0px 0px 10px #52bff0;
}

input:checked+.slider {
	background-color: #2879ff;
}

input:checked+.slider:before {
	-webkit-transform: translateX(34px);
	-ms-transform: translateX(34px);
	transform: translateX(34px);
}

input:checked+.slider:after {
	content: "YES";
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding-left: 10px;
	letter-spacing: 1px;
	text-align: left;
}

/* Rounded sliders */
.slider.round {
	border-radius: 26px;
}

.slider.round:before {
	border-radius: 50%;
}