.trainee-bookings-fragment {
	background-color: white;
	padding: 10px;
	border-left: 5px solid orange;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 100%;
	margin-bottom: 30px;
}

.trainee-bookings-fragment table {
	width: 100%;
}

.trainee-bookings-fragment tr {
	border-bottom: 1px solid rgb(240, 240, 240)
}

.trainee-bookings-fragment tr td {
	padding: 10px;
}