<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>TrainerRegisterServlet</servlet-name>
		<display-name>TrainerRegisterServlet</display-name>
		<description></description>
		<servlet-class>main.service.trainer.TrainerRegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TraineeStoryServlet</servlet-name>
		<display-name>TraineeStoryServlet</display-name>
		<description></description>
		<servlet-class>main.service.trainee.TraineeStoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ContactServlet</servlet-name>
		<display-name>ContactServlet</display-name>
		<description></description>
		<servlet-class>main.ContactServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TrainerRequestServlet</servlet-name>
		<display-name>TrainerRequestServlet</display-name>
		<description></description>
		<servlet-class>main.TrainerRequestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TrainerDetailsUpdateServlet</servlet-name>
		<display-name>TrainerDetailsUpdateServlet</display-name>
		<description></description>
		<servlet-class>main.TrainerDetailsUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TrainersConfirmServlet</servlet-name>
		<display-name>TrainersConfirmServlet</display-name>
		<description></description>
		<servlet-class>main.TrainersConfirmServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminLoginServlet</servlet-name>
		<display-name>AdminLoginServlet</display-name>
		<description></description>
		<servlet-class>main.AdminLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TraineeLoginServlet</servlet-name>
		<display-name>TraineeLoginServlet</display-name>
		<description></description>
		<servlet-class>main.TraineeLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminLogoutServlet</servlet-name>
		<display-name>AdminLogoutServlet</display-name>
		<description></description>
		<servlet-class>main.AdminLogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TrainerLogoutServlet</servlet-name>
		<display-name>TrainerLogoutServlet</display-name>
		<description></description>
		<servlet-class>main.service.trainer.TrainerLogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminCertificateDownloadServlet</servlet-name>
		<display-name>AdminCertificateDownloadServlet</display-name>
		<description></description>
		<servlet-class>main.AdminCertificateDownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminCertificate1DownloadServlet</servlet-name>
		<display-name>AdminCertificate1DownloadServlet</display-name>
		<description></description>
		<servlet-class>main.AdminCertificate1DownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminCertificate2DownloadSevlet</servlet-name>
		<display-name>AdminCertificate2DownloadSevlet</display-name>
		<description></description>
		<servlet-class>main.AdminCertificate2DownloadSevlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminCertificate3DownloadServlet</servlet-name>
		<display-name>AdminCertificate3DownloadServlet</display-name>
		<description></description>
		<servlet-class>main.AdminCertificate3DownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminCertificate2DownloadServlet</servlet-name>
		<display-name>AdminCertificate2DownloadServlet</display-name>
		<description></description>
		<servlet-class>main.AdminCertificate2DownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TrainersChangePasswordServlet</servlet-name>
		<display-name>TrainersChangePasswordServlet</display-name>
		<description></description>
		<servlet-class>main.service.trainer.TrainersChangePasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TrainerProfileDetailsUpdateServlet</servlet-name>
		<display-name>TrainerProfileDetailsUpdateServlet</display-name>
		<description></description>
		<servlet-class>main.service.trainer.TrainerProfileDetailsUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TraineeProfileViewServlet</servlet-name>
		<display-name>TraineeProfileViewServlet</display-name>
		<description></description>
		<servlet-class>main.service.trainee.TraineeProfileViewServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TraineeProfileDetailsUpdateServlet</servlet-name>
		<display-name>TraineeProfileDetailsUpdateServlet</display-name>
		<description></description>
		<servlet-class>main.service.trainee.TraineeProfileDetailsUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TraineesChangePasswordServlet</servlet-name>
		<display-name>TraineesChangePasswordServlet</display-name>
		<description></description>
		<servlet-class>main.service.trainee.TraineesChangePasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TrainerRequestDeleteServlet</servlet-name>
		<display-name>TrainerRequestDeleteServlet</display-name>
		<description></description>
		<servlet-class>main.TrainerRequestDeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TrainersListOptionalServlet</servlet-name>
		<display-name>TrainersListOptionalServlet</display-name>
		<description></description>
		<servlet-class>main.TrainersListOptionalServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminChangePasswordServlet</servlet-name>
		<display-name>AdminChangePasswordServlet</display-name>
		<description></description>
		<servlet-class>main.AdminChangePasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TrainerHomeLogout</servlet-name>
		<display-name>TrainerHomeLogout</display-name>
		<description></description>
		<servlet-class>main.TrainerHomeLogout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TrainerDemoUpdateServlet</servlet-name>
		<display-name>TrainerDemoUpdateServlet</display-name>
		<description></description>
		<servlet-class>main.TrainerDemoUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TraineeClassRegisterPayment</servlet-name>
		<display-name>TraineeClassRegisterPayment</display-name>
		<description></description>
		<servlet-class>main.TraineeClassRegisterPayment</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TrainersListServlet</servlet-name>
		<display-name>TrainersListServlet</display-name>
		<description></description>
		<servlet-class>main.service.trainer.TrainersListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TraineeConfirmTrainersServlet</servlet-name>
		<display-name>TraineeConfirmTrainersServlet</display-name>
		<description></description>
		<servlet-class>main.service.trainee.TraineeConfirmTrainersServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TraineeClassLoginPayment</servlet-name>
		<display-name>TraineeClassLoginPayment</display-name>
		<description></description>
		<servlet-class>main.service.trainee.TraineeClassLoginPayment</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TrainerClassListServlet</servlet-name>
		<display-name>TrainerClassListServlet</display-name>
		<description></description>
		<servlet-class>main.TrainerClassListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TrainerClassListOptionalServlet</servlet-name>
		<display-name>TrainerClassListOptionalServlet</display-name>
		<description></description>
		<servlet-class>main.TrainerClassListOptionalServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TrainerTempProfileUpdateServlet</servlet-name>
		<display-name>TrainerTempProfileUpdateServlet</display-name>
		<description></description>
		<servlet-class>main.service.trainer.TrainerTempProfileUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TrainerTempChangePassword</servlet-name>
		<display-name>TrainerTempChangePassword</display-name>
		<description></description>
		<servlet-class>main.service.trainer.TrainerTempChangePassword</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TrainerTempProfileView</servlet-name>
		<display-name>TrainerTempProfileView</display-name>
		<description></description>
		<servlet-class>main.service.trainer.TrainerTempProfileView</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TrainerProfilePicUpdateServlet</servlet-name>
		<display-name>TrainerProfilePicUpdateServlet</display-name>
		<description></description>
		<servlet-class>main.service.trainer.TrainerProfilePicUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TrainerChangePasswordServlet</servlet-name>
		<display-name>TrainerChangePasswordServlet</display-name>
		<description></description>
		<servlet-class>main.service.trainer.TrainerChangePasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TraineeStoryConfirmServlet</servlet-name>
		<display-name>TraineeStoryConfirmServlet</display-name>
		<description></description>
		<servlet-class>main.TraineeStoryConfirmServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TraineeStoryPhoto1DownloadSerlvet</servlet-name>
		<display-name>TraineeStoryPhoto1DownloadSerlvet</display-name>
		<description></description>
		<servlet-class>main.TraineeStoryPhoto1DownloadSerlvet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TraineeStoryPhoto2DownloadSerlvet</servlet-name>
		<display-name>TraineeStoryPhoto2DownloadSerlvet</display-name>
		<description></description>
		<servlet-class>main.TraineeStoryPhoto2DownloadSerlvet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TraineeStoryPhoto2DownloadServlet</servlet-name>
		<display-name>TraineeStoryPhoto2DownloadServlet</display-name>
		<description></description>
		<servlet-class>main.TraineeStoryPhoto2DownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TraineeStoryPhoto1DownloadServlet</servlet-name>
		<display-name>TraineeStoryPhoto1DownloadServlet</display-name>
		<description></description>
		<servlet-class>main.TraineeStoryPhoto1DownloadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TrainerRegisterServlet</servlet-name>
		<url-pattern>/TrainerRegisterServlet</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>TraineeStoryServlet</servlet-name>
		<url-pattern>/TraineeStoryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContactServlet</servlet-name>
		<url-pattern>/ContactServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrainersListServlet</servlet-name>
		<url-pattern>/TrainersListServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrainerRequestServlet</servlet-name>
		<url-pattern>/TrainerRequestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrainerDetailsUpdateServlet</servlet-name>
		<url-pattern>/TrainerDetailsUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrainersConfirmServlet</servlet-name>
		<url-pattern>/TrainersConfirmServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLoginServlet</servlet-name>
		<url-pattern>/AdminLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TraineeLoginServlet</servlet-name>
		<url-pattern>/TraineeLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLogoutServlet</servlet-name>
		<url-pattern>/AdminLogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrainerLogoutServlet</servlet-name>
		<url-pattern>/TrainerLogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminCertificateDownloadServlet</servlet-name>
		<url-pattern>/AdminCertificateDownloadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminCertificate1DownloadServlet</servlet-name>
		<url-pattern>/AdminCertificate1DownloadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminCertificate2DownloadSevlet</servlet-name>
		<url-pattern>/AdminCertificate2DownloadSevlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminCertificate3DownloadServlet</servlet-name>
		<url-pattern>/AdminCertificate3DownloadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminCertificate2DownloadServlet</servlet-name>
		<url-pattern>/AdminCertificate2DownloadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrainersChangePasswordServlet</servlet-name>
		<url-pattern>/TrainersChangePasswordServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrainerProfileDetailsUpdateServlet</servlet-name>
		<url-pattern>/TrainerProfileDetailsUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TraineeProfileViewServlet</servlet-name>
		<url-pattern>/TraineeProfileViewServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TraineeProfileDetailsUpdateServlet</servlet-name>
		<url-pattern>/TraineeProfileDetailsUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TraineesChangePasswordServlet</servlet-name>
		<url-pattern>/TraineesChangePasswordServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrainerRequestDeleteServlet</servlet-name>
		<url-pattern>/TrainerRequestDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrainersListOptionalServlet</servlet-name>
		<url-pattern>/TrainersListOptionalServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminChangePasswordServlet</servlet-name>
		<url-pattern>/AdminChangePasswordServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrainerHomeLogout</servlet-name>
		<url-pattern>/TrainerHomeLogout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrainerDemoUpdateServlet</servlet-name>
		<url-pattern>/TrainerDemoUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TraineeClassRegisterPayment</servlet-name>
		<url-pattern>/TraineeClassRegisterPayment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TraineeClassLoginPayment</servlet-name>
		<url-pattern>/TraineeClassLoginPayment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrainerClassListServlet</servlet-name>
		<url-pattern>/TrainerClassListServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrainerClassListOptionalServlet</servlet-name>
		<url-pattern>/TrainerClassListOptionalServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TraineeConfirmTrainersServlet</servlet-name>
		<url-pattern>/TraineeConfirmTrainersServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrainerTempProfileUpdateServlet</servlet-name>
		<url-pattern>/TrainerTempProfileUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrainerTempChangePassword</servlet-name>
		<url-pattern>/TrainerTempChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrainerTempProfileView</servlet-name>
		<url-pattern>/TrainerTempProfileView</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrainerProfilePicUpdateServlet</servlet-name>
		<url-pattern>/TrainerProfilePicUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrainerChangePasswordServlet</servlet-name>
		<url-pattern>/TrainerChangePasswordServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TraineeStoryConfirmServlet</servlet-name>
		<url-pattern>/TraineeStoryConfirmServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TraineeStoryPhoto1DownloadSerlvet</servlet-name>
		<url-pattern>/TraineeStoryPhoto1DownloadSerlvet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TraineeStoryPhoto2DownloadSerlvet</servlet-name>
		<url-pattern>/TraineeStoryPhoto2DownloadSerlvet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TraineeStoryPhoto2DownloadServlet</servlet-name>
		<url-pattern>/TraineeStoryPhoto2DownloadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TraineeStoryPhoto1DownloadServlet</servlet-name>
		<url-pattern>/TraineeStoryPhoto1DownloadServlet</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>main.common.MysqlDatasource</listener-class>
	</listener>
</web-app>
